html{
	background-color:white;
}
#titulo{
	text-align:center;
	font-family:arial;
	background-color:black;
	color:white;
	margin-top:0px;
	display:block;
	border-radius:0px 15px 50px 20px ;
	}
.Jogos{
	display:inline-block;
}
#hat:hover{
	scale:110%;
	margin-right:70px;
	background-color:black;
}


#pesquisa{
	text-align:right;
}
input{
	width:300px;
	background-color:black;
	color:white;
	border-radius:20px
}
.infobox{
	background-color:black;
	color:white;
	border-radius:20px;
	width:500px;
	height:600px;
	margin:0px;
	display:none;
}
button{
	border:none;
	background-color:white;
}
iframe{
	width:500px;
	height:150px;
}
#castle:hover{
	scale:110%;
	background-color:white;
}
